<p><a href='/users'>Go to All Ninjas</a></p>
<p><a href="/logout" data-method="delete">Logout</a></p>
<h1>Hi <%= current_user.name.titleize %>!</h1>

<p><h4>Here is your profile description:</h4></p>
<p><%= current_user.description %></p>

<p><h4>Here is your Ninja Network:</h4></p>
<p>GRUMPY CAT IS LIFE</p>

<p><h4>Invitations:</h4></p>
<p>THIS IS FUN</p>
